/* Vuetify
----------------------------------------------------------------------------------------------------
*/
/* Service list panel */
.service-list__content .v-expansion-panel-content__wrap {
  padding: 0;
}

/* Position
----------------------------------------------------------------------------------------------------
*/
.pos-relative {
  position: relative;
}

/* Top (negative) */
.pos-top-n2 {
  top: -2px;
}

/* Width
----------------------------------------------------------------------------------------------------
*/
.w-80 {
  width: 80px;
}

.w-200 {
  width: 200px;
}

.w-290 {
  width: 290px;
}

/* Centering
----------------------------------------------------------------------------------------------------
*/
.block-center {
  margin: 0 auto;
}