/* Vuetify
----------------------------------------------------------------------------------------------------
*/
/* Service list panel */
.service-list__content .v-expansion-panel-content__wrap {
  padding: 0;
}

/* Table */
.theme--dark > .v-data-table__wrapper > table > tbody > tr:hover {
  background-color: #161616 !important;
}

.theme--light > .v-data-table__wrapper > table > tbody > tr:hover {
  background-color: #f5f5f5 !important;
}

/* Pagination */
.v-pagination__item--active,
.v-pagination__item,
.v-pagination__navigation {
  box-shadow: none !important;
}

button:not(.v-pagination__item--active).v-pagination__item,
.v-pagination__navigation {
  border: 1px solid transparent !important;
}

button:not(.v-pagination__item--active).v-pagination__item:hover,
.v-pagination__navigation:hover {
  border: 1px solid #e0e0e0 !important;
}

/* Link buttons for document names. */
.btn-doc-name {
  text-transform: none !important;
  justify-content: left !important;
}

/* Position
----------------------------------------------------------------------------------------------------
*/
.pos-relative {
  position: relative;
}

/* Top (negative) */
.pos-top-n2 {
  top: -2px;
}

/* Width
----------------------------------------------------------------------------------------------------
*/
.w-80 {
  width: 80px;
}

.w-180 {
  width: 180px;
}

.w-260 {
  width: 260px;
}

.max-w-400 {
  max-width: 400px;
}

/* Height
----------------------------------------------------------------------------------------------------
*/
.h-60 {
  height: 60px;
}

/* Centering
----------------------------------------------------------------------------------------------------
*/
.block-center {
  margin: 0 auto;
}

/* To display the selected color in the document list.
----------------------------------------------------------------------------------------------------
*/
.show-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #757575;
}

.sm-show-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #757575;
}

/* Hover
----------------------------------------------------------------------------------------------------
*/
.noHover {
  pointer-events: none;
}
